# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea/
.vscode/

# Ignore environment-specific files
config.y*ml
docker-compose.y*ml

# Ignore built binaries
build/sdrwallet
